
.game__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.civilian__wrapper {
    padding: 10px;
    background-color: var(--civilian-bg-color);
    color: var(--civilian-text-color);
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.sectors__wrapper {
    padding: 10px;
    background-color: var(--section-bg-color);
}

.sectors__output {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background: linear-gradient(180deg, #28616b, #0a2d33);
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.sectors__output span {
    font-weight: bold;
    font-size: 12px
}

.sectors__button {
    border: none;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #28616b;
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    outline: none;
}
.sectors__button span {
    font-size: 18px;
    display: inline-flex;
    padding: 0 5px;
    text-transform: capitalize;
}
